
.video-wrapper {
    position: relative;
    border: 1px solid black;
}

.canvas {
    position: absolute;
    max-width: 100vw;
}

.video {
    position: absolute;
    max-width: 100vw;
    height: auto;
}
